---
interface Props {
  title: string;
  description: string;
  topic: string;
  readTime: string;
  href: string;
}

const { title, description, topic, readTime, href } = Astro.props;

const topicIcons: Record<string, string> = {
  supplements: '/icon-supplements.png',
  biomarkers: '/icon-biomarkers.png',
  protocols: '/icon-protocols.png',
  mechanisms: '/icon-mechanisms.png',
  testing: '/icon-testing.png',
};
---

<a href={href} class="article-item">
  <div>
    <span class={`article-item__topic article-item__topic--${topic}`}>{topic}</span>
    <h3 class="article-item__title">{title}</h3>
    <p class="article-item__desc">{description}</p>
  </div>
  <div class="article-item__icon">
    <img src={topicIcons[topic]} alt={topic} class="article-item__icon-img" />
  </div>
</a>
